.App {
  font-family: sans-serif;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin: 10px auto;
  background-color: rgb(66, 66, 66);
  padding: 10px;
  border-radius: 15px;
}

.wrapper > p {
  width: 100%;
  height: 100px;
  line-height: 75px;
  color: white;
  background-color: rgb(226, 226, 35);
  border-radius: 50%;
}

button {
  border-radius: 50%;
  border: none;
  width: 20px;
  height: 20px;
  background-color: lightyellow;
}
